<div class="contain">
  <div class="container">
    <div id="lot-index-top-box">
      <H1 id="lots-title">Lots</H1>
      <%= button_to "Nouveau lot", new_lot_path, method:"get", id:"new-lot-btn" %>
    </div>
    <% @lots.each do |lot|%>
      <div class="lot-btn">
        <%= button_to "#{lot.name}", lot_path(lot.id), method:"get", class:"lot-link" %>
        <div class="lot-informations">
          <div class="lot-name">
            <%= render "shared/long_name_divider", name: lot.name, length: 9 %>
          </div>
          <div class="lot-position">
            <%= lot.field.name %>
          </div>
          <div class="lot-sheep-number">
            <% if lot.sheeps.length > 1 %>
              <%= "#{lot.sheeps.length} moutons" %>
            <% else %>
              <%= "#{lot.sheeps.length} mouton" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
