<div class="container">
  <H1>Lots</H1>
  <div class="new-top-btns">
    <%= button_to "Nouveau lot", new_lot_path, method:"get", class:"btn-success" %>
  </div>
  <% @lots.each do |lot|%>
    <%= button_to "#{lot.name}", lot_path(lot.id), method:"get", class:"main-btns" %>
      <div class="lot-sheep-number">
        <%= lot.sheeps.length %>
      </div>
      <div class="lot-position">
        <%= lot.field.name %>
      </div>
  <% end %>
  <%= link_to "retour", root_path , class:"rtrn-btn"%>
</div>
