<div class="container">
  <h1>Nouveau Lot</h1>

  <%= form_for @lot, url: lots_path do |f| %>
    <div class="form-group">
        <%= f.label "Lot :" %>
        <%= f.text_field :name, class:"mt-3 ml-5" %>
        <br>
        <%= f.label "Parcelle", class:"mr-4" %>
        <%= f.select :field, collection: @fields.map! { |field| field.name } %>
        <br>
        <%= f.label :file, "Fichier CSV" %>
        <%= f.file_field :file, class:"form-control-file", required: true %>
    </div>
    <%= f.submit "Ok", class:"pr-3 pl-3 pt-1 pb-1" %>
  <% end %>
</div>
