<div class="contain">
  <div class="container">
    <h1>Nouveau Lot</h1>

    <%= form_for @lot, url: lots_path do |f| %>
      <div class="form-group">
          <%= f.label "Nom du lot" %>
          <%= f.text_field :name %>
          <br>
          <%= f.label "Parcelle" %>
          <%= f.select :field, collection: @fields.map! { |field| field.name } %>
          <br>
          <%= f.label :file, "Fichier CSV" %>
          <%= f.file_field :file, class:"form-control-file", required: true %>
      </div>
      <%= f.submit "Ok", class:"validate-btn" %>
    <% end %>
  </div>
</div>
