<script src="https://unpkg.com/@turf/turf@6/turf.min.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.2/mapbox-gl-draw.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.2/mapbox-gl-draw.css" type="text/css">

<div class="container">
  <h1 class="mb-3 mt-3">Mes parcelles</h1>
  <div class="new-top-btns">
    <%= button_to "Parcelles +", new_field_path, method:"get", class:"btn-success pl-3 pr-3" %>
  </div>
  <%= render "shared/fields_popup" %>
  <div id="map" data-field-corners=<%= @field_corners%> data-fields=<%= @fields_json_package%>>
  </div>
  <%= button_to "lier les coordonnées", @corner_position, id:"new-field-draw", remote: true %>
  <%# <div class="calculation-box">
    <p>Click the map to draw a polygon.</p>
    <div id="calculated-area"></div>
  </div> %>
  <% @fields.each do |field| %>
    <%= button_to "#{field.name}", field_path(field), id: "#{field.id}", method: "get", class:"main-btns" %>
  <% end %>
</div>
