<div class="container">
  <h1><%= "#{@field.name}" %></h1>
  <p>listes des moutons</p>
      <%= button_to "Naissance", new_field_sheep_path(@field), method:"get", class:"new-sheep-btns" %>
      <% @sheeps.each do |sheep|%>
        <%= button_to "mouton n°#{sheep.id}", sheep_path(sheep.id), method:"get", class:"main-btns" %>
        <%= render "shared/gender_sticker", sheep: sheep %>
      <% end %>
    <%= link_to "retour", root_path , class:"rtrn-btn"%>
</div>
