<div class="contain">
  <div class="info-sheep-card">
    <div class="sheep-name">
      <%= "mouton n°#{@sheep.electronic_id}" %>
    </div>
    <div class="sheep-genre">
      <%= @sheep.genre == "female" ? "femelle" : "mâle" %>
    </div>
    <div class="sheep-age">
      <%= "#{@sheep.age} mois" %>
    </div>
    <div class="sheep-weight">
      <%= "#{@sheep.weight} Kg" %>
    </div>
    <div class="sheep-status">
      <%= "Status : #{@sheep.translated_status}" %>
    </div>
  </div>
  <div class="comment-sheep-card">
    <% @comments.each do |comment| %>
    <%= comment.name %>
    <%= comment.type %>
    <%= comment.content %>
    <% end %>
  </div>
    <%= link_to "commenter", new_sheep_comment_path(@sheep), class:"validation-btn" %>
    <%= link_to "retour", :back, class:"rtrn-btn" %>
</div>
