<div class="container">
  <div class="info-sheep-card">
    <div class="sheep-name">
      <%= "mouton n°#{@sheep.electronic_id}" %>
    </div>
    <div class="sheep-genre">
      <%= @sheep.genre == "female" ? "femelle" : "mâle" %>
    </div>
    <div class="sheep-age">
      <%= "#{@sheep.age} mois" %>
    </div>
    <div class="sheep-weight">
      <%= "#{@sheep.weight} Kg" %>
    </div>
    <div class="sheep-status">
      <%= "Status : #{@sheep.translated_status}" %>
    </div>
  </div>
    <%= link_to "retour", :back, class:"rtrn-btn" %>
</div>
