<div class="container">
  <div class="info-sheep-card">
    <h1 class="sheep-name">
      <%= "mouton n°#{@sheep.id}" %>
    </h1>
    <h2 class="sheep-genre">
      <%= @sheep.genre == "female" ? "femelle" : "mâle" %>
    </h2>
    <h2 class="sheep-age">
      <%= "#{@sheep.age} mois" %></h2>
    <h2 class="sheep-weight">
      <%= "#{@sheep.weight} Kg" %>
    </h2>
    <h2 class="sheep-status">
      <%= @sheep.translated_status %>
    </h2>
  </div>
    <%= link_to "retour", :back, class:"rtrn-btn" %>
</div>
